.col {
  margin-bottom: 1rem; /* Reduced from 2rem */
}

.featureCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%; /* Ensures all cards are the same height */
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 0.75rem; /* Reduced padding */
  margin-bottom: 1rem; /* Reduced margin */
}

.featureCard:hover {
  /*transform: scale(1.05);*/
}

/*.card_image {*/
/*  padding: 0.5rem 0;*/
/*  height: 100px; !* Fixed height container *!*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  align-content: center;*/
/*}*/
.icon_image {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.featureImage {
  width: 100px;
  align-self: center;
  /*height: 100px;*/
  /*width: auto;*/
  /*margin-bottom: 0.5rem;*/
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.button--primary {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

